.social {
  position: absolute;
  top: 200px;
  left: 60px;

  &__item {
    list-style-type: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #a2a88f;
    padding-top: 7px;
    margin-bottom: 30px;
    cursor: pointer;

    &:hover {
      transform: scale(1.2);
      transition: 0.3s;
    }
  }

  &__svg {
    fill: white;
    width: 25px;
    height: 25px;
  }
}
