.basket {
  margin: 30px auto;

  @media (max-width: 993px) {
    position: absolute;
    margin: 30px 65%;
    z-index: 10;
  }

  @media (max-width: 769px) {
    margin: 30px 55%;
  }

  @media (max-width: 590px) {
    margin: 30px 65%;
  }

  &__svg{
    width: 35px;
    height: 40px;
    cursor: pointer;
    fill: #747436;

    &:hover {
      fill:  #4b4b21;
    }
  }
}