.season {
  position: relative;
  display: flex;
  overflow: hidden;
  height: 1400px;
  width: 100%;
  margin-top: -100px;

  &__main-img {
    margin: 180px auto;
    z-index: 2;
  }

  &__ellipses {
    position: absolute;
  }

  &__ellipses--top {
    top: -150px;
    right: -215px;
  }

  &__ellipses--bottom {
    bottom: -120px;
    left: 0;
  }
}
