.season {
  position: relative;
  display: flex;
  height: 1500px;
  width: 100%;
  padding-top: 110px;
  margin-bottom: 60px;

  &__title {
    text-align: center;
    padding-top: 45px;
    padding-left: 30px;
    background: url(../../img/tableshape.png) no-repeat center;
    width: 515px;
    height: 157px;
    font-weight: 700;
    font-size: 46px;
    line-height: 52px;
    color: #f8f8f8;
  }

  &__main-img {
    margin: 90px auto;
    z-index: 2;
    overflow: hidden;

    &--small {
      display: none;
    }

    @media (max-width: 870px) {
      margin: 150px auto 90px;
    }

    // @media (max-width: 730px) {
    //   display: none;
      
    //   &--small {
    //     display: block;
    //   }
    // }

    @media (max-width: 425px) {
      // height: 420px;
    }
  }

  &__ellipses {
    position: absolute;

    @media (max-width: 870px) {
      display: none;
    }
  }

  &__ellipses--top {
    // top: -150px;
    right: -215px;
  }

  &__ellipses--bottom {
    bottom: -120px;
    left: 0;
    // overflow: hidden;
  }
}
