@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&display=swap');

.basket-form {
  width: 100%;
  font-family: Montserrat;
  color: #2c2c11;
  position: relative;
  transition: 0.3s;

  &__modal {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__caption {
    font-size: 36px;
    line-height: 38px;
    text-align: center;
    margin: 17px 0 60px;
  }

  &__line {
    padding: 40px 0;
  }

  &__title {
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    color: #000000;
    text-align: left;
    padding: 5px 0 30px;
    border-bottom: 1px solid #747436;

    &--meal {
      width: 47%;
    }

    &--amount {
      width: 31%;
    }

    &--cost {
      width: 17%;
    }

    &--delete {
      width: 5%;
      border-bottom: 1px solid #747436;
    }
  }

  &__meal {
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    vertical-align: middle;
    padding-right: 40px;
  }

  &__cost {
    vertical-align: middle;
  }

  &__amount {
    display: flex;
    justify-content: space-between;
    width: 130px;
    align-items: center;
    padding: 40px 0;
  }

  &__btn {
    width: 35px;
    height: 35px;
    border: 1px solid #000000;
    border-radius: 50%;
    font-size: 25px;
  }

  &__btn-delete {
    vertical-align: middle;
    text-align: center;
  }

  &__cross-delete {
    width: 20px;
    height: 20px;
    cursor: pointer;
  }

  &__sum {
    font-size: 20px;
    line-height: 27px;
    color: #000000;
    padding: 65px 0 90px;
  }

  &__button {
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    text-transform: uppercase;
    color: #a2a88f;
    background: transparent;
    border: 1px solid #a2a88f;
    padding: 5px 20px;
    border-radius: 5px;
    cursor: pointer;
    max-height: 50px;
    max-width: 170px;

    &:hover {
      color: #f8f8f8;
      background: #c4cca8;
    }
  }

  &__bottom {
    border-top: 1px solid #747436;
  }

  &__table {
    width: 80%;
    // width: 920px;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0 auto;
  }
}

.noMeal {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  color: #2c2c11;
  text-align: center;
  vertical-align: middle;
  margin: 0 auto;
}
