@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&display=swap');

.news {
  margin: 120px auto 100px;
  font-family: Montserrat;

}

.news-block {
  // margin-top: 120px;
  margin-bottom: 100px;
  text-align: center;  

  &__title {
    font-weight: bold;
    font-size: 30px;
    line-height: 32px;
    color: #2C2C11;
  }

  &__red-boll {
    position: absolute;
    top: -25px;
    left: -5%;
    z-index: -1;
  }

  &__images {
    margin: 50px auto;
    position: relative;
  }

  &__img {

  }

  &__btn {
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;    
    text-align: center;
    text-transform: uppercase;
    color: #A2A88F;
    background: transparent;
    border: 1px solid #A2A88F;
    padding: 5px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s;

    &--bottom {
      margin: 0 auto;
    }

    &:hover {
      background: #A2A88F;
      color: #F8F8F8;
    }
  }
}