.menu {
  width: 100%;
  height: 1800px;
  // height: 100%;
  margin-top: 50px;
  background: url('../../img/MenuSideImage.png') no-repeat center left;
  background-size: 30%;

  @media (max-width: 767px) {
    background: none;
  }

  &__title {
    height: 157px;
    background: url('../../img/MenuBgShape.png') no-repeat center;
    text-align: center;
    font-weight: 700;
    font-size: 46px;
    line-height: 52px;
    color: #f8f8f8;
    padding-top: 50px;
  }
}

.menu__list {
  width: 90%;
  // margin-left: 50px;
}

.orderIcon {
  width: 34px;
  height: 34px;
  cursor: pointer;

  @media (max-width: 770px) {
    width: 24px;
    height: 24px;
  }
}

.basketOrderIcon {
  display: none;
}

.orderCounter {
  font-size: 18px;
  margin: 0 20px;
  position: relative;
  bottom: 10px;

  @media (max-width: 465px) {
    margin: 10px 5px;
  }
}

.listRow {
  width: 100%;
}

.firstCol,
.secondCol,
.thirdCol,
.fourthCol {
  padding: 3px;
  width: 30px;
  height: 120px;
  vertical-align: middle;
  text-align: center;
  font-size: 18px;
  font-weight: 200;
}

.firstCol {
  // width: 400px;
  text-align: left;
}

.secondCol,
.thirdCol {
  width: 130px;
}

.food__name {
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  text-transform: uppercase;

  @media (max-width: 770px) {
    font-size: 14px;
  }
}

.menu__button {
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  text-align: center;
  text-transform: uppercase;
  color: #a2a88f;
  background: transparent;
  border: 1px solid #a2a88f;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  margin: 100px auto 50px;
  z-index: 2;
  display: none;

  &:hover {
    background: #a2a88f;
    color: #f8f8f8;
  }
}

// .tbody__menu {
//   display: none;
// }
