@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&display=swap');

.navigation {
  background: rgba(193, 202, 162, 0.9) no-repeat center;
  background-size: cover;
  height: 110px;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  color: #2c2c11;
  position: relative;
}



.manu {
  display: flex;

  &--left {
    justify-content: flex-start;
  }

  &--right {
    justify-content: flex-end;
  }

  &__item {
    margin: 42px auto;
    transition: .3s;

    &:hover {
      text-shadow: 0 0 0.85px #747436, 0 0 0.85px #747436;
  }

    @media (max-width: 993px) {
    display: none;
  }

}

  &__link {
    color: #2c2c11;
    text-decoration: none;

    &--active {
      text-shadow: 0 0 0.85px #747436, 0 0 0.85px #747436;
    }
  }

// burger

&__burger {
  display: none;
  cursor: pointer;
  transition: .3;

  @media (max-width: 993px) {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    margin: 45px 0;
  }

  &-span {
    background: #2C2C11;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    top: 9px;
    transition: all .3s ease 0s;
  }

  &::before, &::after {
    content: '';
    background: #2C2C11;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all .3s ease 0s;

  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }
  
}
}

.active {
  display: none;
  cursor: pointer;
  transition: .3;
  position: absolute;
    z-index: 10;
    top: 0;
    right: 0px;

  @media (max-width: 993px) {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    margin: 45px 0;
  }

  &-span {
    background: #2C2C11;
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 2px;
    left: 0;
    top: 9px;
    transition: all .3s ease 0s;
  }

  &::before, &::after {
    content: '';
    background: #2C2C11;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all .3s ease 0s;

  }

  &::before {
    transform: rotate(45deg);
    top: 9px;
  }

  &::after {
    transform: rotate(-45deg);
    bottom: 9px;
  }
  
  .manu__burger-span {
    transform: scale(0);
  }
}

.manu__adapt{
  display: none;

  &--active {
    display: block;
    position: absolute;
    z-index: 4;
    top: 110px;
    right: 0;
    background: #F8F8F8;
    height: 385px;
    // border: 1px solid #a2a88f;
    width: 375px;
    text-align: right;

  }

    &__list {

    }

      &__item {
        display: block;
        font-family: Montserrat;
        font-size: 20px;
        line-height: 10px;
        text-transform: uppercase;
        color: #2C2C11;
        margin: 35px 30px 0 0;
      }

  &__social {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 70px;
  }

}

.social__item--adapt {
  list-style-type: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #a2a88f;
    padding-top: 7px;
    padding-right: 7px;
    margin-bottom: 30px;
    cursor: pointer;

    &:hover {
      transform: scale(1.2);
      transition: 0.3s;
    }
}


.logo {
  width: 145px;
  height: 110px;
  margin: 0 auto;
  position: absolute;
  // z-index: 10;
  top: 0;
  right: 0;
  left: 0;

  @media (max-width: 993px) {
    margin: 0;
    margin-left: 8%;
  }

  &__img {
    width: 145px;
    height: 110px;
  }
}

